cmake-build-debug

*.lo
*.so

.libs
.temp

ext/.deps
ext/Makefile
ext/Makefile.fragments
ext/Makefile.global
ext/Makefile.objects
ext/acinclude.m4
ext/aclocal.m4
ext/config.h
ext/config.h.in
ext/config.nice
ext/config.status
ext/config.sub
ext/configure
ext/config.guess
ext/configure.in
ext/build
ext/autom4te.cache
ext/group.la
ext/libtool
ext/ltmain.sh
ext/run-tests.php
ext/mkinstalldirs
ext/missing
ext/install-sh