language: php

dist: trusty
sudo: required

php:
  - 7.1

git:
  depth: 1

cache:
  apt: true
  ccache: true
  timeout: 691200
  directories:
    - .temp
    - $HOME/.ccache

env:
  global:
    - ZEND_DONT_UNLOAD_MODULES=1
    - CC="ccache gcc"
    - PATH="$PATH:~/bin"

before_install:
  - phpenv config-rm xdebug.ini || true
  - sudo ln -s /home/travis/.phpenv/versions/$(phpenv version-name)/bin/phpize /usr/bin/
  - sudo ln -s /home/travis/.phpenv/versions/$(phpenv version-name)/bin/php-config /usr/bin/

install:
  - git clone -q --depth=1 https://github.com/phalcon/zephir.git ./zephir
  - bash ./install_zephir.sh
  - zephir fullclean && zephir generate --backend=ZendEngine3
  - bash install.sh
  - php -m | grep group

before_script:
  - echo '/tmp/core_%e.%p' | sudo tee /proc/sys/kernel/core_pattern &> /dev/null
  - echo "memory_limit=-1" | sudo tee ${INI_DIR}/000-initial.ini
  - ulimit -c unlimited || true

script:
  - php tests/test1.php
  - php tests/test2.php

addons:
  apt:
    packages:
      - re2c
